@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,300;1,400;1,600&display=swap');

body {
    font-family: 'Titillium Web', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.navbar-brand {
    font-weight: 700;
    font-size: 25px;
}

.callout-container {
    height: 100vh;

    background: url('../images/hero-image.jpg') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

/* Jumbotron */

.jumbotron {
    background: none;
}

.jumbotron h1 {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    color: white;
}

.jumbotron .lead {
    color: #fff;
    margin: 25px 0;
    font-size: 25px;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

/* Buttons */

.btn--cta {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--aqua {
    color: white;
    background-color: #1cc8c9;
    border-color: #1cc8c9;
}

/***** Services *****/

.services-box {
    padding-top: 30px;
    text-align: left;
}

.services-box .services-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
    line-height: 80px;
    text-align: center;
    border-radius: 28px;
}

.services-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}

.features-section h2 {
    padding-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.storage-us-box-img img {
    border-radius: 4px;
}

img {
    vertical-align: middle;
    border-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}

.feature .btn {
    background-color: white;
    border-color: white;
    border-radius: 15px;
    min-width: 100px;
    font-weight: bold;
    margin-top: 10px;
    color: #f05f40;
}

h4 {
    padding-top: 10px;
}

.features p {
    text-align: left;
}

.heading {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Containers */

.container-wrapper--gray {
    background-color: #424242;
    color: white;
}

/* Contact */

.contact-heading {
    color: #fff;
}

.container-wrapper--contact {
    background-image: url("../images/contact-back3.jpg");
    background-repeat: no-repeat;
}

section#contact .section-heading {
    color: #fff;
}

section#contact form#contactForm .form-group {
    margin-bottom: 1.5rem;
}

section#contact form#contactForm .form-group input,
section#contact form#contactForm .form-group textarea {
    padding: 1.25rem;
}

section#contact form#contactForm .form-group input.form-control {
    height: auto;
}

section#contact form#contactForm .form-group-textarea {
    height: 100%;
}

section#contact form#contactForm .form-group-textarea textarea {
    height: 100%;
    min-height: 9rem;
}

section#contact form#contactForm p.help-block {
    margin: 0;
}

section#contact form#contactForm .form-control:focus {
    box-shadow: none;
}

section#contact form#contactForm ::-webkit-input-placeholder {
    font-weight: 700;
    color: #ced4da;
}

textarea.form-control {
    height: 100%;
    min-height: 9rem;
}

/*Footer*/

.footer {
    display: block;
}

.footer {
    text-align: center;
    font-size: 0.9rem;
}

.btn-social {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #424242;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border-radius: 100%;
}

.modal-content {
    background-color: #424242;
}

.form-group {
    color: #fff;
}

.modal h5 {
    color: #fff;
    text-align: center;
}

.modal-body {
    background-image: url(../images/modal-back.jpg) no-repeat center fixed;
}

.modal-header button {
    color: #fff;
}

.callout h4 {
    color: #fff;
}

span .badge-secondary {
    color: #fff;
}

.badge {
    background-color: #424242;
}

.btn-lg {
    margin-top: 15px;
    margin-bottom: 25px;
}

.container-wrapper--specs {
    margin: 20px 0;
}

.features i {
    color: #fff;
}

.client-review-stars {
    color: #1cc8c9;
}

.carousel-indicators>li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #1cc8c9;
}

.specifications i {
    color: #1cc8c9;
}

